@{
    ViewData["Title"] = "Account Link Error";
}
<div class="container">
    <h1>Account link error</h1>
    <p>We can't link your WingTip Toys account to your social account because your social account already exists.</p>
    <hr />
    <footer>
        <p>&copy; 2017 - WingTip Toys</p>
    </footer>
</div>
