html {
  background: none;
}

body {
  background-attachment: fixed;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

@media(max-width:480px){
  body {
    background-image: none;
    background-color: #f2f2f2;
  }
}

.accountButton {
  background-color: #28B1E6;
  border: none;
  border-radius: 2px;
  color: whitesmoke;
  font-size: larger;
  height: 46px;
  margin: 10px 0;
  padding-top: 11px;
  width: 240px;
}

.accountButton:hover {
  background-color: #189DCF;
  border: none;
  color: #fff;
}

.admin body {
  background-image: none;
  padding-top: 70px;
}

.admin .navbar {
  display: block;
}

.brand-logo {
  height: 70px;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.externalProviders {
  margin-top: 30px;
}

.home-panel p {
    margin-top: 20px;
}

.logo {
  height: 140px;
  margin-top: -90px;
}

.options {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}

.navbar {
    display: none;
}

.page-index,
.page-login {
  padding-top: 80px;
}

.page-login .page-header {
    display: none;
}

.panel-body {
  padding: 15px 30px !important;
}

.panel-default {
  border: 1px solid #ccc !important;    
}
