@model WingTipToysWebApplication.ViewModels.User.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change User Password";
}
<h1 class="page-header">Change User Password</h1>
<form method="POST" asp-action="ChangePassword">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input class="form-control" type="password" asp-for="NewPassword" />
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
    <a class="btn btn-default" asp-action="Index">Cancel</a>
</form>
