<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="image-center">
                    <img alt="Wingtip Corp" class="logo" src="/images/logo.png" />
                </div>
                <h3 class="text-center">Welcome to Wingtip Corp</h3>
                <div class="externalProviders" role="form" ng-show="model.externalProviders">
                    <div class="intro">
                        <h5 class="text-center">Sign in with your work account</h5>
                    </div>
                    <div class="options">
                        <div ng-repeat="externalProvider in model.externalProviders">
                            <a class="accountButton btn" href="{{externalProvider.href}}">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
