<div class="container page-index">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default home-panel">
                <div class="panel-body">
                    <div class="image-center">
                        <img alt="Wingtip Corp" class="logo" src="/images/logo.png" />
                    </div>
                    <h3 class="text-center">Welcome to Wingtip Corp</h3>
                    <h5 class="text-center">Wingtip Corp is the proud owner of Wingtip Toys.</h5>
                    <div class="image-center">
                        <a href="https://b2cappmvc.azurewebsites.net" target="_blank">
                            <img alt="Wingtip Toys" class="brand-logo" src="/images/wingtip-toys-logo.png"/>
                        </a>
                    </div>
                    <p class="text-center">
                        <a href="@Url.Action("Create", "Clients", new { area = "Admin" })">Register your AAD B2C tenant</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
