@{
    ViewData["Title"] = "Activation Redemption Error";
}
<div class="container">
    <h1>Activation redemption error</h1>
    <p>The activation link we sent you is invalid or it has expired.</p>
    <hr />
    <footer>
        <p>&copy; 2017 - WingTip Toys</p>
    </footer>
</div>
