@model WingTipGamesWebApplication.ViewModels.Invitation.CreateViewModel
@{
    ViewData["Title"] = "Claim a free game rental";
}
<div class="container">
    <h1>Claim a free game rental</h1>
    <p>We've sent you the invitation link. We hope you enjoy your free game rental.</p>
    <hr />
    <footer>
        <p>&copy; 2017 - WingTip Toys</p>
    </footer>
</div>
