<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UserJourneyRecorderWebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Web.UserJourneyRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <authentication>
      <forms requireSSL="true" />
    </authentication>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly"/>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <applicationSettings>
    <UserJourneyRecorderWebApp.Properties.Settings>
      <setting name="StreamFolder" serializeAs="String">
        <value>stream</value>
      </setting>
    </UserJourneyRecorderWebApp.Properties.Settings>
  </applicationSettings>
</configuration>
