<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IdentityServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--<security>
            <access sslFlags="Ssl" />
        </security>-->
  </system.webServer>
  <applicationSettings>
    <IdentityServer.Properties.Settings>
      <setting name="B2CPolicy" serializeAs="String">
        <value>B2C_1_signin</value>
      </setting>
      <setting name="B2CMetadata" serializeAs="String">
        <value>https://login.microsoftonline.com/{0}/v2.0/.well-known/openid-configuration?p={1}</value>
      </setting>
      <setting name="B2CTenant" serializeAs="String">
        <value>B2CAuth.onmicrosoft.com</value>
      </setting>
      <setting name="B2CAuthProviderName" serializeAs="String">
        <value>AzureAD</value>
      </setting>
      <setting name="B2CClientSecret" serializeAs="String">
        <value>e]&gt;kJd#{P3EM4}5?</value>
      </setting>
      <setting name="B2CClientId" serializeAs="String">
        <value>a8120a38-ac09-411b-b317-1cfa78c86dbe</value>
      </setting>
      <setting name="SiteName" serializeAs="String">
        <value>B2CAuth</value>
      </setting>
      <setting name="IdentityServerRedirectUri" serializeAs="String">
        <value>https://b2cauth.azurewebsites.net/identity</value>
      </setting>
      <setting name="Origin" serializeAs="String">
        <value>https://b2cauth.azurewebsites.net/</value>
      </setting>
    </IdentityServer.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="CpimIdentityServerDbConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CpimIdentityServer;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>