body {
    color: #5a5a5a;
    padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
}

.body-container {
    margin-top: 55px;
}

    .body-container .alert {
        margin-bottom: 0;
    }

    .body-container .alert-sign-up {
        margin-bottom: 20px;
    }

.carousel {
    margin-bottom: 20px;
}

.carousel-caption {
    color: black;
    z-index: 10;
}

    .carousel-caption a.btn {
        background-color: #47a447;
    }

    .carousel-caption h1 {
        color: black;
        font-size: 54px;
    }

    .carousel-caption p {
        color: black;
        font-size: 54px;
    }

.demo-btn {
    margin-right: 5px;
}

.login-email,
.login-name {
    margin-bottom: 0;
}

.login-dropdown-menu-picture {
    width: 87px;
}

.login-dropdown-toggle-picture {
    height: 18px;
}

.login-player-zone {
    margin-bottom: 5px;
}

.marketing.new-release-albums h2,
.marketing.new-release-games h2 {
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

.marketing.new-release-albums h3,
.marketing.new-release-games h3 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing.new-release-albums h6,
.marketing.new-release-games h6 {
    font-size: 1.2em;
    font-weight: normal;
}

.marketing .col-lg-3 {
    margin-bottom: 20px;
    text-align: center;
}

    .marketing .col-lg-3 p {
        margin-right: 10px;
        margin-left: 10px;
    }

    .marketing .col-lg-3 .game {
        border: 1px solid #efecec;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 10px;
    }

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    padding: 7px 15px;
}

    .navbar-brand img {
        height: 40px;
    }

.navbar-inverse .navbar-nav > li > a.btn-danger.navbar-btn:hover,
.navbar-inverse .navbar-nav > li > a.btn-danger.navbar-btn:focus {
    background-color: #d2322d;
}

.navbar-inverse .navbar-nav > li > a.btn-success.navbar-btn:hover,
.navbar-inverse .navbar-nav > li > a.btn-success.navbar-btn:focus {
    background-color: #47a447;
}

.navbar-login {
    padding: 10px;
    padding-bottom: 0;
    width: 305px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-nav > li > a.navbar-btn {
    color: #fff;
}

.navbar-right label.control-label {
    color: white;
    font-weight: normal;
}

.table {
    table-layout: fixed;
}

    .table td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

@media (max-width: 480px) {
    .login body {
        background-image: none;
        background-color: #f2f2f2;
    }
}

@media (min-width: 768px) {
    .carousel-caption p {
        font-size: 21px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .navbar-nav > li > a {
        padding-bottom: 17px;
        padding-top: 17px;
    }

        .navbar-nav > li > a.navbar-btn {
            padding-bottom: 6px;
            padding-top: 6px;
        }

    .navbar-right {
        padding-top: 2px;
    }
}
