@model B2CAppMvc.Models.Account.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var externalAuthenticationTypes = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        foreach (var externalAuthenticationType in externalAuthenticationTypes.Where(at => !at.Caption.StartsWith("(Hidden)")))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h4>@externalAuthenticationType.AuthenticationType</h4>
                        <p>@externalAuthenticationType.Caption<p>
                            <button class="btn btn-primary" name="authenticationType" type="submit" value="@externalAuthenticationType.AuthenticationType">Log in &raquo;</button>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
}
